[submodule "academico"]
    path = academico
    url = https://github.com/Luis-Felipe-Porto/academico
[submodule "financeiro"]
    path = financeiro
    url = https://github.com/Luis-Felipe-Porto/financeiro
[submodule "marketing"]
    path = marketing
    url = https://github.com/Luis-Felipe-Porto/marketing
[submodule "gateway-service"]
    path = gateway-service
    url = https://github.com/Luis-Felipe-Porto/gateway-service
[submodule "eureka-service"]
    path = eureka-service
    url = https://github.com/Luis-Felipe-Porto/eureka-service
